body {
    background-color: #C6C5C5;
}

li.red {
    color: #AA3939;
}

div#hello-button-row{
    padding-top: 100px;
}

#hello-button{
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}